body {
    overflow: hidden !important;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: linear-gradient(135deg, #0f0063, #4e06a0, #b300ff)
  }
.custom-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
.updrop-container {
    position: absolute;
    bottom: 50%;
    right: 31%;
    z-index: 9000;
}
#uploadButton {
    position: fixed;
    color: black;
    background-color: rgb(0, 0, 0);
    display: block;
    font-size: 26px;
    top: 20%;
    left: 50%;
    width: 8%;
    border-radius: 15px;
}
.updrop-button {
    background-color: #00000000;
    color: rgba(255, 255, 255, 0);
    font-size: 1px;
    border: none;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.updrop-menu {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 10px;
    z-index: 1000;
    border-color: white;
}

.updrop-menu.active {
    display: block;
    z-index: 1000;
}

.updrop-menu li {
    padding: 10px;
    margin: 5px 0;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
    z-index: 500;
    border: 1.5px solid white;

}

.updrop-menu li:hover {
    background-color: #111;
}

.custom-dropdown-button {
    padding: 12px 20px; 
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    outline: none;
    box-sizing: border-box; 
    display: inline-block;
    width: 100%; 
    max-width: 250px; 
    height: auto; 
    line-height: 1.5; 
    text-align: center; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.custom-dropdown-button:hover {
    background-color: #1d1c1c; 
    transform: translateY(2px); 
}

.dropdown-options {
    padding: 0;
    font-size: 16px;
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 100%; 
    max-width: 250px;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.dropdown-options a {
    padding: 16px 20px; 
    display: block;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    transition: background-color 0.3s ease; 
}

.dropdown-options a:hover {
    background-color: #111;
}

.custom-dropdown:hover .dropdown-options {
    display: block;
    opacity: 1;
    visibility: visible; 
}

.custom-dropdown-button:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 2px;
}

        #mydiv {
            resize: none;
            overflow: hidden;
            width: auto;  
            height: auto;

        }
        body {
            overflow: hidden; 
        }

        #mydiv {
            position: relative;
            z-index: 9000;
            background-color: #11111100;
            border: 1px solid #000000;
            text-align: right;
            height: 400px;
            width: 800px;
            display: none;
        }

        #mydivheader {
            padding: 10px;
            cursor: move;
            z-index: 10;
            background-color: #000000;
            color: #fff;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        .close-btn, .fullscreen-btn {
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            padding: 2px;
        }
        .close-btn:hover {
            background: #ff0000;
        }
        .resize-handle {
            position: absolute;
            top: 3%;
            left: .5%;
            width: 20px;
            height: 20px;
            background-color: #ffffff00;
            cursor: nwse-resize; 
            border-radius: 50%;
            align-self: center;
        }
        .rotate-icon {
            transform: rotate(-45deg) scale(2); 
        }
.nav-bar {
    width: 42%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 499;
    height: 5%;
    left: 65%;
    transform: translateX(-50%);
}

.blud-bar {
    align-self: center;
    width: 10%;
    background: #000000;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    position: fixed;
    left: 31%;
    bottom: 74%;
    z-index: 499;
    height: 8%;
    border-right: 0px;
}
.blud-line {
    align-self: center;
    width: 1px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 40.9%;
    top: 18%;
    z-index: 499;
    height: 48%;
}
.set-bar {
    align-self: center;
    width: 30%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 499;
    min-height: 5%;
    max-height: 8%;
}
.sigma-bar {
    width: 44.2%;
    align-self: left;
    background: #000000;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 500;
    height: 5%;
}
.setting-bar {
    width: 30%;
    background: #000000;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 400;
    right: -.5%;
    height: 5%;
}
.cog-bar {
    width: 5%;
    background: #000000;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 488;
    left: -1.5%;
    min-height: 5%;
    max-height: 8%;
}
.settingg-bar {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    position: relative;
    bottom: 0;
    z-index: 500;
    right: -20%;
    height: 7%;
    font-size: 22px;
}
.settinggg-bar {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 500;
    left: -1%;
    height: 8%;
    font-size: 25px;
    line-height: 1; 
    white-space: nowrap; 
}
.nav-button {
    width: 40px;
    height: 40px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 9999;
}
.blud-button {
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 9999;
    background-color: black;
    border: none;
}
.app-button {
    width: 95px;
    height: 120px;
    color: white;
    text-decoration: none;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 9;
    float: left;
    flex-direction: column;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media (max-width: 95px) {
    .app-button {
        float: right;
    }
}

.app-button span {
    margin-top: auto;
    display: block;
    font-weight: 5;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.appa-button {
    width: 95px;
    height: 120px;
    color: white;
    text-decoration: none;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 9;
    float: left;
    flex-direction: column;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media (max-width: 95px) {
    .appa-button {
        float: right;
    }
}

.appa-button span {
    margin-top: auto;
    display: block;
    font-weight: 5;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.set-button {
    width: 50px;
    height: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 9999;
}
.sigma-button {
    width: 40px;
    height: 40px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
}
.the-set {
    background-color: black;
    width: 50vw;
    height: 65vh;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    z-index: -1;
}
.the-setta {
    background-color: black;
    width: 35vw;
    height: 80vh;
    position: fixed;
    bottom: -25%;
    left: 15%;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    z-index: 50000;
}
.scrollable-container {
    width: 300px;
    height: 200px;  
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px 
  }

.apps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 120vh;
    align-content: flex-start;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}
.appsa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 120vh;
    align-content: flex-start;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}
.setting-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    right: 1%;
}
.nav-button:hover {
    background: #1d1c1c;
}
.blud-button:hover {
    background: #1d1c1c;
}
.app-button:hover {
    background: #1d1c1c69;
}
.appa-button:hover {
    background: #1d1c1c69;
}
.set-button:hover {
    background: #1d1c1c;
}
.sigma-button:hover {
    background: #1d1c1c;
}
.setting-button:hover {
    background: #1d1c1c;
}
.containerrr {
    z-index: 999999;
}
#fullscreenBtn {
    position: fixed;
    top: 0;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    background: transparent;
    border: none;
    padding: 10px;
    display: none;
}

.nav-button img {
    height: 24px;
    width: 24px;
}
.sigma-button img {
    height: 24px;
    width: 24px;
}
.setting-button img {
    height: 24px;
    width: 24px;
}
.app-button span {
    margin-top: auto;
}
.appa-button span {
    margin-top: auto;
}
.battery-container {
            width: 12px;
            height: 24px;
            border: 2px solid #ffffff;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            margin: 10px;
            right: -5w;
        }
        .battery-level {
            width: 100%;
            height: 100%;
            background-color: #4caf50;
            transition: height 0.5s ease, background-color 0.5s ease;
            border-radius: 1px 1px 0 0;
            position: absolute;
            bottom: 0;
        }
        @keyframes charging {
            0% { opacity: 1; }
            50% { opacity: 0.5; }
            100% { opacity: 1; }
        }
        .charging {
            animation: charging 10s infinite;
        }
        .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 2147483647;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.battery-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 2147483647;
}
.settingpic {
    position: fixed;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #000000;
    cursor: pointer;
    display: inline-block;
    top: 26%;
    left: 42.5%;
    width: 10vw;
    height: 5vh;
}

.settingimgg {
    position: fixed;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #000000;
    cursor: pointer;
    display: inline-block;
    top: 26%;
    left: 42.5%;
    width: 14vw;
    height: 16vh;
}

#batteryContainer {
    width: 50px;
    height: 100px;
    border: 3px solid black;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}
#batteryLevel {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    transition: height 0.5s, background-color 0.5s;
}
.charging {
    animation: chargingAnimation 4s infinite;
}
@keyframes chargingAnimation {
0% { height: 0%;}
25% { height: 25%;}
50% { height: 50%;}
75% { height: 75%;}
100% { height: 100%;}
}